/* .api-challenges { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */
#content { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;  
  
}

img { 
height: 50%; 
  width: 50%;
}
